<div class="container mx-auto mt-20" style="padding: 15px;">
  <!-- Header Section -->
  <div class="relative mb-8 flex items-center">
 
    <!-- Header Text -->
    <h1 class="text-4xl font-bold whitespace-nowrap">
      Contact<span class="text-yellow-400">.</span>
    </h1>
    <div class="h-px bg-gray-600 flex-grow ml-4"></div>
  </div>

  <!-- Contact Card -->
  <div class="bg-gray-800 p-8 rounded-lg shadow-lg max-w-lg mx-auto text-center">
    <h2 class="text-2xl font-bold text-white mb-4">Contact<span class="text-yellow-400">.</span></h2>
    <p class="text-gray-300 mb-6">
      I'm always open to discussing new opportunities, collaborations, or just having a chat about anything and everything.
      I look forward to creating meaningful connections!
    </p>
    <p class="text-gray-300 mb-6">
      Shoot me an email or reach out to me via <a href="https://linkedin.com/in/jacob-kidd-955b8127a" target="_blank" class="text-yellow-400 hover:underline">LinkedIn</a>.
    </p>
    <a href="mailto:kiddj1@students.westerntc.edu" class="text-yellow-400 text-lg flex items-center justify-center space-x-2 hover:underline">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
        <path d="M21.8 8.1l-9.4-6.8c-.4-.3-1-.3-1.4 0L1.8 8.1c-.5.4-.8 1-.8 1.6v10.6c0 1 .8 1.8 1.8 1.8h18.4c1 0 1.8-.8 1.8-1.8V9.7c0-.6-.3-1.2-.8-1.6zM12 3.3l8.6 6.3L12 16l-8.6-6.3L12 3.3zm9 16.1H3V10.3l9 6.5 9-6.5v9.1z" />
      </svg>
      <span>kiddj1&#64;students.westerntc.edu</span>
    </a>    
  </div>
</div>