<div class="container mx-auto mt-10" style="padding: 10px;">
    <!-- Header Section -->
        <div class="relative mb-8 flex items-center">
            <h1 class="text-4xl font-bold whitespace-nowrap">
            Experience<span class="text-blue-500">.</span>
            </h1>
            <div class="h-px bg-black flex-grow ml-4"></div>
        </div>
  
    <div class="bg-gray-800 p-6 rounded-lg shadow-md mb-8">
      <h2 class="text-2xl font-bold text-white mb-2">Work Experience</h2>
    
        <!-- Job 1 -->
        <div class="mb-6">
          <h3 class="text-xl font-bold text-white">Frontend Developer</h3>
          <p class="text-gray-400">Big Bike Parts | Rice Lake, WI | September 2024 - Present</p>
          <p class="text-gray-300">PHP, JavaScript, CSS, SQL</p>
          <p class="text-gray-300">Responsibilities:</p>
          <ul class="list-disc pl-5 text-gray-300">
            <li>Design and Develop Webpages</li>
            <li>Managing Microsoft Dynamic NAV</li>
          </ul>
        </div>
    
        <!-- Job 2 -->
        <div>
          <h3 class="text-xl font-bold text-white">Software Developer Intern</h3>
          <p class="text-gray-400">Coulee Tech | Holmen, WI | April 2024 - September 2024</p>
          <p class="text-gray-300">Languages: NestJS, TypeScript, PHP, JavaScript</p>
          <p class="text-gray-300">Framework: React</p>
          <p class="text-gray-300">Responsibilities:</p>
          <ul class="list-disc pl-5 text-gray-300">
            <li>Problem-solving and analyzing code</li>
            <li>Created a search engine within the business</li>
            <li>Data-binding and GitLab usage</li>
          </ul>
        </div>
      </div>
    <!-- Experience Cards -->
    <div class="bg-gray-800 p-6 rounded-lg shadow-md mb-8">
      <h2 class="text-2xl font-bold text-white mb-2">Education</h2>
      <p class="text-gray-300 mb-4">
        <strong>Web and Software Development, Associate Degree</strong>
        <br>Western Technical College, La Crosse, WI (Graduated: April 2024)
        <br><strong>GPA:</strong> 3.72
      </p>
      <h3 class="text-xl font-bold text-white">Relevant Coursework:</h3>
      <p class="text-gray-300">
        Languages: JavaScript, Java, C#, SQL, PHP, TypeScript, Tailwind, XML<br>
        Frameworks: Vue, Angular<br>
        Skills: Problem-solving for object-oriented programming, dynamic websites, database management, designing and querying databases<br>
        Tools: GitHub, VMware Workstation
      </p>
    </div>
  
    <div class="bg-gray-800 p-6 rounded-lg shadow-md mb-8">
      <h2 class="text-2xl font-bold text-white mb-2">Certifications</h2>
      <p class="text-gray-300">Cisco: CCNAv7: Introduction to Networks</p>
    </div>
  
   
  </div>
  